<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.air.aiagent.mapper.EmotionDiaryMapper">

    <resultMap id="BaseResultMap" type="com.air.aiagent.domain.entity.EmotionDiary">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="mood" column="mood" jdbcType="VARCHAR"/>
            <result property="moodScore" column="mood_score" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="LONGVARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,mood,mood_score,content,image_url,create_time,update_time,is_deleted
    </sql>

</mapper>
